body {
    background: url(https://images.unsplash.com/photo-1574781481375-74a09eba71e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Merriweather', serif;
  }

.robots {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

.your-robot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.your-robot {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
  align-items: center;
  color: rgb(255, 255, 255);
}
.enemy-robot {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
  align-items: center;
  padding-left: 5rem;
  color: rgb(255, 255, 255);
}

input {
  border-radius: 50px;
  height: 30px;
  margin-bottom: 0px;
  text-align: center;
}

button {
  width: 120px;
  margin-top: 20px;
}

img {
  max-width: 250px;
  height: auto;
}

.your-robot-img {
  transform: scaleX(-1);
}

.robot-power {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.header-title-description {
  margin-top: 0px;
}

.fight-button {
  margin-left: 14rem;
  font-size: 1.5rem;
  font-family: 'Merriweather', serif;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.fight-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.fight-button:active {
  color: #000
}

.fight-button:active:after {
  background: transparent;
}

.fight-button:hover:before {
  opacity: 1;
}

.fight-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* .enemy-robot-power {
  visibility: visible;
}
.enemy-robot-power:hover {
  visibility: hidden;
} */